:root {
  --color-primary: rgb(19, 0, 82);
  --color-seccondary: rgb(220, 48, 147);
  --gradient: linear-gradient(90deg, rgba(19, 0, 82, 1) 35%, rgba(41, 0, 171, 1) 100%);
}

html,
body {
  height: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}